* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.mtcard {
    width: 100%;
    height: 100%;
    Background-color:rgb(0,0,0);
	Background-color:rgba(0,0,0,0.7);
    position: absolute;
    display: none;
}
.card{
    margin: 15% 40%;
    position: absolute;
    text-align: center;
    background-color: lightpink;
    display: none;
}
.container{
    max-width: 992px;
    height: auto;
    margin: auto;
    background-color: lightgray;
    overflow: hidden;
    box-shadow: 3px 4px 4px rgba(0,0,0,0.4);
}
.title {
    width: 90%;
    height: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
}
.title h1 {
    font-size: 3em;
}
form {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 10px auto;
}
form #inp {
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 7px 5px 7px auto;
    background-color: lightpink;
    border: none;
    border-radius: 8px;
}
form button {
    width: 90px;
    height: 40px;
    margin: 7px auto;
    background-color: lightpink;
    border: none;
    border-radius: 8px;
}
#ul {
    width: 95%;
    height: auto;
    margin: auto;
    overflow: hidden;

}
li{
    list-style: none;
    text-transform: capitalize;
    text-align: center;
    margin: 5px auto;
    background-color: lightpink;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 3px rgba(0,0,0,0.3);
}
#ul button {
    margin: 0 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    background-color: rgb(20, 16, 16);
    padding: 3px 5px;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
}
#ul button:hover {
    background-color: crimson;
}

@media screen and (max-width: 576px) {
    .container {
        width: 95%;
    }
    .card {
        margin: 35% 14%;
    }
}